@model IEnumerable<MusicOn.Models.MixtapesCompositions>

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление композиций в сборнике</h1>

<div>
    <hr />
    @if (Model.Count() > 0)
    {
        <a asp-controller="MixTapes" asp-action="Details" asp-route-id="@Model.ToList()[0].MixTapeId">Назад</a>
    }
    else
    {
        <a asp-controller="Search" asp-action="Index">Назад</a>
    }
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Composition)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MixTape)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Composition.Song.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MixTape.Title)
                    </td>
                    <td>
                        <form asp-action="Delete">
                            <input type="hidden" asp-for="@item.MixTapeId" name="MixTapeId" />
                            <input type="hidden" asp-for="@item.CompositionId" name="CompositionId" />
                            <input type="submit" value="Удалить" class="btn btn-danger" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
