@model MusicOn.ViewModels.AlbumViewModel

@{
    ViewData["Title"] = Model.Album.Title;
}

<div>
    @if (Model.Album.Single)
    {
        <h4>
            Сингл
        </h4>
    }
    else
    {
        <h4>
            Альбом
        </h4>
    }
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album.AlbumsArtists)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Album.AlbumsArtists.Count > 0)
            {
                <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.Album.AlbumsArtists.ToList()[0].Artist.ArtistId">@Html.DisplayFor(modelItem => Model.Album.AlbumsArtists.ToList()[0].Artist.Name)</a>
                @for (int i = 1; i < Model.Album.AlbumsArtists.Count; i++)
                {<content>,</content>
                    <a asp-controller="Artists" asp-action="Details" asp-route-id="@Model.Album.AlbumsArtists.ToList()[i].Artist.ArtistId">@Html.DisplayFor(modelItem => Model.Album.AlbumsArtists.ToList()[i].Artist.Name)</a>
                }
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album.Genre.Title)
        </dd>
    </dl>
</div>
<h2>Треки</h2>
@if (Model.Compositions.Count == 0)
{
    <content>В альбоме нет треков</content>
}
else
{
    await Html.RenderPartialAsync("../Compositions/Index", Model.Compositions);
}
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-controller="Albums" asp-action="Edit" asp-route-id="@Model.Album.AlbumId">Изменить</a>
        <a asp-controller="Albums" asp-action="Delete" asp-route-id="@Model.Album.AlbumId">Удалить</a>
    </p>
}
