@model IEnumerable<MusicOn.ViewModels.ArtistsViewModel>

@if (User.IsInRole("admin"))
{
    <p>
        <a asp-controller="Artists" asp-action="Create">Создать</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Artist.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist.AlbumsArtists)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Artists" asp-action="Details" asp-route-id="@item.Artist.ArtistId">@Html.DisplayFor(modelItem => item.Artist.Name)</a>
                </td>
                <td>
                    @foreach (var album in item.Artist.AlbumsArtists)
                    {
                        {
                            <a asp-controller="Albums" asp-action="Details" asp-route-id="@album.AlbumId">'@Html.DisplayFor(modelItem => album.Album.Title)'</a>
                        }
                    }
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @if (!item.IsFavourite)
                        {
                            <form asp-controller="FavouriteArtists" asp-action="Add">
                                <div class="input-group">
                                    <input type="hidden" asp-for="@item.Artist.ArtistId" name="ArtistId">
                                    <input type="submit" class="btn btn-primary" value="Добавить в избранное" />
                                </div>
                            </form>
                        }
                        else
                        {
                            <form asp-controller="FavouriteArtists" asp-action="Delete">
                                <div class="input-group">
                                    <input type="hidden" asp-for="@item.Artist.ArtistId" name="ArtistId">
                                    <input type="submit" class="btn btn-danger" value="Удалить из избранного" />
                                </div>
                            </form>
                        }
                    </td>
                }
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a asp-controller="Artists" asp-action="Edit" asp-route-id="@item.Artist.ArtistId">Изменить</a>
                        <a asp-controller="Artists" asp-action="Delete" asp-route-id="@item.Artist.ArtistId">Удалить</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
