@model MusicOn.Models.Composition

@{
    ViewData["Title"] = "Удаление";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить эту композицию?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Song)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Song.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Album.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>


    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CompositionId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.CompositionId">Назад</a>
    </form>
</div>
